<section class="static-page">
  <div class="container static-narrow auth-page">
    <div class="section-header"><h1>Create Account</h1></div>

    {% form 'create_customer' %}
      {{ form.errors | default_errors }}
      <label for="first_name">First name</label>
      <input type="text" name="customer[first_name]" id="first_name" autocomplete="given-name">
      <label for="last_name">Last name</label>
      <input type="text" name="customer[last_name]" id="last_name" autocomplete="family-name">
      <label for="email">Email</label>
      <input type="email" name="customer[email]" id="email" autocomplete="email" required>
      <label for="password">Password</label>
      <input type="password" name="customer[password]" id="password" autocomplete="new-password" required>
      <button type="submit" class="cta-button">Create Account</button>
    {% endform %}

    <p class="auth-switch">Already have an account? <a href="/account/login">Sign in</a></p>
  </div>
</section>
