<section class="static-page">
  <div class="container static-narrow auth-page">
    <div class="section-header"><h1>Reset Password</h1></div>
    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}
      <label for="password">New password</label>
      <input type="password" name="customer[password]" id="password" autocomplete="new-password">
      <label for="password_confirmation">Confirm password</label>
      <input type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="new-password">
      <button type="submit" class="cta-button">Reset Password</button>
    {% endform %}
  </div>
</section>
